@model Svbase.Core.Models.PersonViewModel
<div class="container body-content margin-top">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="margin-top: 0">@Model.FirstName</h2>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <span>Streets</span>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-xs pull-right">
                        Додати персону
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <span>Name</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var street in Model.Streets)
                                {
                                    <tr>
                                        <td class="col-xs-12">
                                            <a>@street.Name</a>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
@*@Html.Partial("_CityCreatePartial", new CityCreateModel())*@
