
<div class="modal fade" id="cityEditModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit something</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Edit", "City")" method="post" id="editForm">
                    <input type="hidden" id="EditId" />

                    <div class="form-horizontal">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="EditName">Name</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="EditName" name="Name" type="text" value="">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="EditName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="submitCityEdit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#submitCityEdit").click(function () {
        var cityName = $('#EditName').val();
        var id = $('#EditId').val();
        $('#cityEditModal').modal();
        $.post('@Url.Action("Edit","City")', { Id: id, Name: cityName })
            .done((data) => {
                if (data.status === "success") {
                    window.location.href = "@Url.Action("Details","City")" + "?id="+id;
                }
            });

    })
</script>