@model Svbase.Core.Models.DistrictListModel

<div class="modal fade" id="districtCreateModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div id="create-district-form">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" 
                            class="close" 
                            id="districtCreateModalDismiss"
                            data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Створити округ</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Назва</label>
                            <div class="col-sm-10">
                                <input type="text" 
                                       class="form-control" 
                                       id="create-district-name"
                                       placeholder="Введіть ім'я"
                                       name="create-district-name">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                    <button type="button" id="create-district-btn" class="btn btn-primary">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#create-district-btn").click(() => {
        createDistrict();
    });

    function createDistrict() {
        var name = $("#create-district-name").val();
        var districtType = getDistrictType();
        var data = {
            Name: name,
            DistrictType: districtType
        };
        $.post('@Url.Action("Create","District")', data)
            .done((result) => {
                $("#districts-panel-body").html(result);
                $('#districtCreateModal').modal('hide');
            });
    }

    function getDistrictType() {
        var districtType = 0;
        if ($("#constituency-districts").parent().hasClass("active")) {
            districtType = 1;
        }
        if ($("#custom-districts").parent().hasClass("active")) {
            districtType = 2;
        }
        return districtType;
    }
</script>
