@model IList<Svbase.Core.Models.BaseViewModel>

@foreach (var item in @Model)
{
    <li class="main-filter-raw-header click">
        <a>
            <input class="filter-city-input"
                   type="checkbox"
                   id="@("city_"+item.Id)"
                   value="@item.Id"> @item.Name
        </a>
    </li>
}