@model IList<Svbase.Core.Models.BaseViewModel>
    
@foreach (var item in @Model)
{
    <li>
        <a style="display:flex;margin-top:-4px"><input id="@item.Id" type="checkbox" value="@item.Id"> @item.Name</a>
    </li>
}
