@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li style="padding: 10px">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "center" }))
        {
            @Html.AntiForgeryToken()<a href="javascript:document.getElementById('logoutForm').submit()">Вихід</a>
        }
    </li>

}
else
{
    <li style="padding: 0 10px">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
