@using Svbase.Core.Consts
@model IEnumerable<Svbase.Core.Models.BaseViewModel>

@*@if (Model.Any())
{
    <option disabled selected> Виберіть елемент </option>
}*@
@foreach (var item in Model)
{
    if (item.Name == Consts.DefaultAddress)
    {
        <option selected value="@item.Id">@item.Name</option>
    }
    else
    {
        <option value="@item.Id">@item.Name</option>
    }
}
